html { overflow: scroll; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background-color: #60d7a9;
	color: #999;
	height: 100%;
}

#main {
	/*background-color: #999;*/
	font-size: 18px;
}

.top {
	margin-top: 50px;
}

.header {
	font-size: 48px;
	color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.transition-hidden {
	opacity: 0;
}