<template name="home">
	<div class="">
		<center class='daddy'>
			<div class="home">
				<h2>Create a new game</h2>
				<!-- TEMP: Turn into a form -->

				<div class="form-group">
					<span class="input__hoshi input--hoshi">
						<input class="input__field__hoshi input__field--hoshi" type="text" id="gameName" />
						<label class="input__label__hoshi input__label--hoshi input__label--hoshi-color-1" for="gameName">
							<!-- <span class="input__label__hoshi-content input__label-content(- belongs here)hoshi">Game Name</span> -->
						</label>
					</span>
					<button id="create" class="pt-touch-button">Create Game</button>
				</div>
			</div>

			{{> openGames }}
			
		</center>
	</div>
</template>
