#open-games {
	/*max-width: 600px;*/
}

.games-container {
	height: 260px;
}

.open-game {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	background-color: #FFF;
}

.open-game:hover {
	background-color: #619FBA;
	color: white;
	cursor: pointer;
}

#open-games h2 {
	color: #FFF;
}
