<!-- TEMP: Definitely should be refactored -->
<template name="openGames">
		<!-- {{#if openGamesCount}} -->
			<div id="open-games">
			<h2>Open Games:</h2>

				<div class="games-container">
						{{#transition transIn="expandIn" transOut="expandOut" display="inline-block" wait="true"}}
							{{#each openGames}}
								<div class="open-game" data-id="{{ this._id }}">
									{{ this.name }}
								</div>
							{{/each}}
						{{/transition}}

				</div>

				<div class="controls">
					<button id="open-game-prev" class="pt-touch-button {{disabledBtnClass dir='prev'}}" {{disableBtn dir="prev"}}>Previous</button>
					<button id="open-game-next" class="pt-touch-button {{disabledBtnClass dir='next'}}" {{disableBtn dir="next"}}>Next</button>
				</div>
			</div>
		<!-- {{/if}} -->

		<!-- {{#if finishedGamesCount}}
			<p>Finished Games:</p>

			<div id="finished-games">
			<h2>Finished Games:</h2>

				<div class="games-container">
						{{#each finishedGames}}
							<div class="open-game" data-id="{{ this._id }}">
								{{ this.name }}
							</div>
						{{/each}}
				</div>

				<div class="controls">
					<button id="finished-game-prev" class="pt-touch-button">Previous</button>
					<button id="finished-game-next" class="pt-touch-button">Next</button>
				</div>
			</div>
		{{/if}} -->

</template>
