#open-games {
	/*max-width: 600px;*/
}

.games-container {
	min-height: 210px;
	max-width: 800px;	
}

@media (min-width: 600px) {
	.games-container {
		min-height: 270px;
	}
}

.open-game {
	display: inline-block;
	width: 8em;
	height: 2em;
	padding: 6px 10px 10px 10px;
	margin: 5px 10px 5px 10px;
	background-color: #FFF;
	white-space: nowrap;
	overflow: hidden;
}

.open-game > p {
	text-overflow: ellipsis;	
	overflow: hidden;
}

.controls {
	margin-top: 10px;
}

.open-game:hover {
	background-color: #619FBA;
	color: white;
	cursor: pointer;
}

#open-games h2 {
	color: #FFF;
}
