.guess-list {
  height: 400px;
  width: 100%;
  background-color: #FFF;
  padding: 10px;
  padding-bottom: 20px;
  overflow: hidden;
}

.guess-list ul {
  color: #e85c4a;
  text-decoration: line-through;
}
