.disable-btn {
	color: #C4C4C4;
}

.game-lobby {
	background-color: #FFF;
	padding: 10px;
}

.current-players {
	list-style: none;
}

.currentUser {
	color: #619FBA;
}

.current-players > li {
	max-width: 250px;
}

.player-name {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 9.5em;
	white-space: nowrap;
	text-align: center;
}

.player-points {
	float: right;
	text-align: left;
	width: 4em;
	display: inline-block;
}