<template name="gameLobby">
	<center style="border:3px solid black">
		<div>
			<p>Game Lobby Template</p>
		</div>

		<div>
			{{#if gameInProgress}}
 				<button id="create-round">Start Round</button>
			{{else}}
				<p>Game Over</p>
			{{/if}}
		</div>

		<div id="players">
			Current Players:
			<ul>
				{{#each players}}
					<li>{{sessionID}}</li>
				{{/each}}
			</ul>
		</div>

		<div id="rounds">
			Rounds:
			<ul>
				{{#each rounds}}
					<li>{{> roundSummary}}</li>
				{{/each}}
			</ul>
		</div>
	</center>
</template>
