<template name="gameLobby">
	<div class="game-lobby">
		<center>
			<div>
				{{#if gameInProgress}}
	 				<button id="create-round" class="{{disabledBtnClass}}" {{disableBtn}} >Start Round</button>
				{{else}}
					<p>Game Over</p>
				{{/if}}
			</div>

			<div id="players">
				<h3>Current Players</h3>
				<ul class="current-players">
					{{#each players}}
						<li>User: {{this.name}}.  Points: {{this.points}}</li>
					{{/each}}
				</ul>
			</div>

			<div id="rounds">
				Rounds:
				<ul>
					{{#each rounds}}
						<li>{{> roundSummary}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="set-username">
				<input id="username" value="">
				<button type="submit" id="change-username">Set Username</button>
			</div>

		</center>
	</div>
</template>
