.round-summary {
	max-width: 27em;
}

.round-word {
	float: left;
}
	
.round-winner {
	float: right;
}

.round-entry {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 6.9em;
	white-space: nowrap;
	text-align: center;
}