<template name="game">
	<center style="border:3px solid black">

	<!-- TEMP: Probably break into different templates -->
	
		{{#if gameInProgress}}
			<div id="temp">
				<button id="home">Back to homepage</button>
				<p>Game Template</p>
				<p>Game name: {{ this.name }}</p>
				<div id="countdown"></div>
			
				<p>Game status: {{ gameStatus }}</p>
				<p>Player ID: {{ getSessionID }}</p>
				<p>Round ID: {{ getRoundID }}</p>
			</div>
		{{else}}
			<div>
				<p>GAME OVER</p>
				<p>Game winner: {{ this.winner }}</p>
			</div>
		{{/if}}

	</center>

	{{> DynamicTemplate template=getTemplate data=getDataContext }}
</template>